@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 5%;
    --foreground: 0 0% 92%;
    
    --card: 0 0% 8%;
    --card-foreground: 0 10% 85%;
    
    --popover: 0, 0%, 9%;
    --popover-foreground: 220 10% 98%;
    
    --primary: 220 10% 98%;
    --primary-foreground: 220 35% 15%;
    
    --secondary: 220 25% 18%;
    --secondary-foreground: 220 10% 98%;
    
    --muted: 0 0% 7%;
    --muted-foreground: 220, 10%, 65%;
    
    --accent: 220 10% 98%;
    --accent-foreground: 220 35% 15%;
    
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 0 0% 20%;
    --input: 0 0% 17%;
    --ring: 0 0% 30%;
    
    --radius: 0.75rem;
    
    --sidebar-background: 240 5.9% 10%;
    
    --sidebar-foreground: 240 4.8% 95.9%;
    
    --sidebar-primary: 224.3 76.3% 48%;
    
    --sidebar-primary-foreground: 0 0% 100%;
    
    --sidebar-accent: 240 3.7% 15.9%;
    
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    
    --sidebar-border: 240 3.7% 15.9%;
    
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 0, 0%, 5%;
    --foreground: 0 0% 92%;
    
    --card: 0 0% 8%;
    --card-foreground: 0 10% 85%;
    
    --popover: 0, 0%, 9%;
    --popover-foreground: 220 10% 98%;
    
    --primary: 220 10% 98%;
    --primary-foreground: 220 35% 15%;
    
    --secondary: 220 25% 18%;
    --secondary-foreground: 220 10% 98%;
    
    --muted: 0 0% 7%;
    --muted-foreground: 220, 10%, 65%;
    
    --accent: 220 10% 98%;
    --accent-foreground: 220 35% 15%;
    
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 0 0% 20%;
    --input: 0 0% 17%;
    --ring: 0 0% 30%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}